/*
 * branding.css
 *
 * This file is loaded LAST (after bundle.css) thanks to the built-in
 * branding mechanism, so these rules override the default styles.
 *
 * Enable it at configure time with:
 * --with-app-branding=<path to this directory>
 * Currently the correct way is:
 * --with-app-branding=$PWD/branding
 */

/* ---- browser/css/color-palette.css -------------------------------- */
[data-doctype='text'] {--doc-type: 77, 104, 146;}
[data-doctype='spreadsheet'] {--doc-type: 78, 126, 88;}
[data-doctype='presentation'] {--doc-type: 170, 97, 73;}
[data-doctype='drawing'] {--doc-type: 158, 87, 84;}

/* ---- browser/css/btns.css ---------------------------------------- */
#viewModeDropdown .unotoolbutton {
	background-color: var(--color-background-tabs-group);
}

/* ---- browser/css/jsdialogs.css ------------------------------------ */
.ui-combobox-entry[aria-selected='true'],
.ui-combobox-entry[aria-selected='true'] > span {
	background-color: white !important;
	color: #000 !important;
}

/* ---- browser/css/menubar.css -------------------------------------- */
.document-title {
	display: none !important;
}

main-nav #main-menu {
	height: 100% !important;
}
.main-nav,
.main-nav.hasnotebookbar:not(.readonly) {
	background: rgb(var(--doc-type));
}
.main-nav .lo-menu > li > a {
	color: var(--color-primary-text);
}
.main-nav .lo-menu > li > a:hover {
	color: var(--color-text-darker);
}
.main-nav .lo-menu > li > a.highlighted {
	background: var(--color-primary-text);
	color: var(--color-text-darker);
	border-color: transparent;
	border-bottom: none;
}
.main-nav .lo-menu > li > a.highlighted:hover {
	background: var(--color-primary-text);
	color: var(--color-text-darker);
	border-color: transparent;
	border-bottom: none;
}

.lo-menu a:hover:not(.disabled) {
	color: black !important;
	background: #F5F5F5 !important;
}

.lo-menu a.has-submenu.highlighted:not(:hover),
.lo-menu a.highlighted:not(:hover) {
	background-color: white !important;
	color: black !important;
}

#optionstoolboxdown-row .unotoolbutton:hover {
	background-color: white !important;
}

#document-name-input {
	color: white !important;
}

#main-menu #menu-editmenu,
#main-menu #menu-format,
#main-menu #menu-references,
#main-menu #menu-table,
#main-menu #menu-form,
#main-menu #menu-tools,
#main-menu #menu-help,
#main-menu #menu-last-mod,
#main-menu #menu-file,
#main-menu #menu-view,
#main-menu #menu-insert,
#main-menu #menu-sheet,
#main-menu #menu-data,
#main-menu #menu-slide {
	height: 100% !important;
}

#main-menu #menu-editmenu > :first-child,
#main-menu #menu-format > :first-child,
#main-menu #menu-references > :first-child,
#main-menu #menu-table > :first-child,
#main-menu #menu-form > :first-child,
#main-menu #menu-tools > :first-child,
#main-menu #menu-help > :first-child,
#main-menu #menu-last-mod > :first-child,
#main-menu #menu-file > :first-child,
#main-menu #menu-view > :first-child,
#main-menu #menu-insert > :first-child,
#main-menu #menu-sheet > :first-child,
#main-menu #menu-data > :first-child,
#main-menu #menu-slide > :first-child {
	height: 100% !important;
	border-radius: 0px !important;
	border: none !important;
}

#main-menu #menu-editmenu > :first-child:not(.highlighted),
#main-menu #menu-format > :first-child:not(.highlighted),
#main-menu #menu-references > :first-child:not(.highlighted),
#main-menu #menu-table > :first-child:not(.highlighted),
#main-menu #menu-form > :first-child:not(.highlighted),
#main-menu #menu-tools > :first-child:not(.highlighted),
#main-menu #menu-help > :first-child:not(.highlighted),
#main-menu #menu-last-mod > :first-child:not(.highlighted),
#main-menu #menu-file > :first-child:not(.highlighted),
#main-menu #menu-view > :first-child:not(.highlighted),
#main-menu #menu-insert > :first-child:not(.highlighted),
#main-menu #menu-sheet > :first-child:not(.highlighted),
#main-menu #menu-data > :first-child:not(.highlighted),
#main-menu #menu-slide > :first-child:not(.highlighted) {
	color: white;
}

.notebookbar#transitions_icons.ui-iconview,
.notebookbar#stylesview.ui-iconview {
	width: 300px !important;
	min-width: 300px !important;
}
.main-nav.hasnotebookbar .ui-tab.selected.notebookbar:hover:not(.dummy-class) {
	box-shadow: none !important;
}
#userListPopover {
	max-height: 300px !important;
	overflow-y: auto !important;
}
.jsdialog-container:has(#DocumentPropertiesDialog) {
	max-width: 800px;
}
#DocumentPropertiesDialog #DocumentInfoPage #grid1 .uitext {
	word-break: break-word;
}
#DocumentPropertiesDialog #DocumentInfoPage #showlocation {
	word-break: break-word;
}

.notebookbar-tabs-container .ui-tab {
	color: white !important;
	height: 100% !important;
}
.ui-tab.selected.notebookbar:not(.hovered) {
	background: var(--color-primary-text) !important;
	color: rgb(var(--doc-type)) !important;
	box-shadow: none !important;
	height: 100% !important;
}
.ui-tab.notebookbar:hover:not(.selected) {
	background: rgba(255, 255, 255, 0.22) !important;
	box-shadow: none !important;
	height: 100% !important;
	color: white !important;
}

form.snackbar.jsdialog-container.ui-dialog.ui-widget-content.lokdialog_container {
	display: none !important;
}

.jsdialog.ui-button-box-right:has(#modal-dialog-switch-to-edit-mode-modal-nobutton)
.d-flex.justify-content-center:has(#modal-dialog-switch-to-edit-mode-modal-yesbutton) {
	display: none !important;
}
@media all and (max-width: 767px) {
	.ui-header:has(.defineprintarea) {
		display: none !important;
	}
	.ui-header:has(.deleteprintarea) {
		display: none !important;
	}
}

/* ---- browser/css/notebookbar.css ---------------------------------- */
.notebookbar-tabs-container {
	height: 100% !important;
}

[modelId="view-sidebar-property-deck"],
[modelId="view-sidebardeck"],
[modelId="view-side-bar"],
[modelId="view-sidebar"] {
	display: none !important;
}

#view-sidebar-break,
#view-griduse-break,
#layout-showstatusbar-break {
    display: none !important;
}
